body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background: #1d1d1d;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}
img.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  z-index: 2;
}

.channel {
  color: #fb6a33;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
main {
  width: 100%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  position: relative;
  height: fit-content;
  top: 25px;
}
header {
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

h1.logo {
  line-height: initial;
  padding: 0px;
  margin: 0px;
  letter-spacing: 2px;
  color: #ff6a32;
}

nav button {
  height: 40px;
  width: 86px;
  background: #fb6a33;
  color: white;
  text-transform: uppercase;
}
input#search {
  width: 26.5em;
  height: 40px;
}
.main-container {
  width: calc(80% - 100px);
  margin: auto;
  position: relative;
  height: calc(100% - 50px);
  overflow: auto;
  padding: 20px;
  background: #141313;
}

section.section-left {
  flex: 1 0 45%;
  display: flex;
  flex-direction: column;

  gap: 3rem;
}

.section-left img {
  width: 82px;
  height: 70px;
  object-fit: cover;
}
section.section-right {
  flex: 1 1 45%;
}
.video-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background: #313131;
  box-sizing: content-box;
  padding: 10px;
  cursor: pointer;
  transition: all 200ms ease-out;
}
.video-container:hover {
  transform: translateY(-5px);
  transition: all 300ms ease-out;
  background: #444444;
}
.video-box iframe {
  width: 90px;
  height: 100%;
  height: 75px;
  background: black;
}

.main-video iframe {
  width: 100%;
  height: 347px;
  background: black;
}
